@using TMS.Models
@model TMS.ViewModels.EmployeeIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.HomeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.HomeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Competencies)
        </dt>

        <dd>
            <table class="table">
                @foreach (var item in Model.Competencies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Competencies)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
